[submodule "components/esp32-wifi"]
	path = components/esp32-wifi
	url = ../esp32-wifi.git
[submodule "components/esp32-utility"]
	path = components/esp32-utility
	url = ../esp32-utility.git
[submodule "components/esp32-gpio"]
	path = components/esp32-gpio
	url = ../esp32-gpio.git
[submodule "components/esp32-ds18b20-fork"]
	path = components/esp32-ds18b20
	url = ../esp32-ds18b20.git
[submodule "components/esp32-timer"]
	path = components/esp32-timer
	url = ../esp32-timer.git
[submodule "components/esp32-owb"]
	path = components/esp32-owb
	url = ../esp32-owb.git
[submodule "components/esp32-ssd1306"]
	path = components/esp32-ssd1306
	url = ../esp32-ssd1306.git
