CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="components/esp32-spiffs/partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="components/esp32-spiffs/partitions.csv"
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
