# https://www.kernel.org/doc/html/latest/kbuild/kconfig-language.html
menu "wolffshots/esp32-warm-water config"
    config ESP_BUILTIN_LED
        int "built in LED pin"
        default 5
        help
            the pin of the LED built into the board if it has one (set to -1 otherwise)
    config CONTROL_INTERVAL
        int "period in which to poll the sensor and check the status"
        default 5000
        help
            poll window for checking the temp sensor and setting the relay (in milliseconds)
endmenu