# https://www.kernel.org/doc/html/latest/kbuild/kconfig-language.html
menu "wolffshots/esp32-warm-water config"
    config ESP_BUILTIN_LED
        int "built in LED pin"
        default 5
        help
            the pin of the LED built into the board if it has one (set to -1 otherwise)
endmenu