# https://www.kernel.org/doc/html/latest/kbuild/kconfig-language.html
menu "WiFi Configuration"
    config ESP_ENABLE_WIFI
        bool "Enable WiFi"
        default y
        help
            Enable or disable WiFi config
    choice
        depends on ESP_ENABLE_WIFI
        prompt "Station or Soft AP"
        config ESP_ENABLE_WIFI_STA
            bool "Station"
        config ESP_ENABLE_WIFI_SOFTAP
            bool "Soft AP"
    endchoice
    if !ESP_ENABLE_WIFI_SOFTAP && ESP_ENABLE_WIFI_STA
        menu "Station"
            config ESP_WIFI_SSID_STA
                string "WiFi SSID"
                default "netWolff"
                help
                    SSID (network name) for the example to connect to.
            config ESP_WIFI_PASSWORD_STA
                string "WiFi Password"
                default "mypassword"
                help
                    WiFi password (WPA or WPA2) for the example to use.
            config ESP_MAXIMUM_RETRY_STA
                int "Maximum retry"
                default 5
                help
                    Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.
        endmenu
    endif
    comment "station disabled"
        depends on !ESP_ENABLE_WIFI_STA
    if ESP_ENABLE_WIFI_SOFTAP && !ESP_ENABLE_WIFI_STA
        menu "Soft AP"
            config ESP_WIFI_SSID_SOFTAP
                string "WiFi SSID"
                default "esp-ssid"
                help
                    SSID (network name) for the example to connect to.
            config ESP_WIFI_PASSWORD_SOFTAP
                string "WiFi Password"
                default "mypassword"
                help
                    WiFi password (WPA or WPA2) for the example to use.
            config ESP_WIFI_CHANNEL_SOFTAP
                int "WiFi Channel"
                range 1 13
                default 1
                help
                    WiFi channel (network channel) for the example to use.
            config ESP_MAX_STA_CONN_SOFTAP
                int "Maximal STA connections"
                default 4
                help
                    Max number of the STA connects to AP.
        endmenu
    endif
    comment "soft ap disabled"
        depends on !ESP_ENABLE_WIFI_SOFTAP
endmenu
menu "Logging Configuration"
    config ESP_LOG
        bool "Log or no log?"
        default n
        help
            Oh to log or not to log    
endmenu